openapi: 3.0.0
info:
  contact:
    name: Front Platform
    url: https://community.front.com
  description: |-
    Front is a customer operations platform that enables support, sales, and account management teams to deliver exceptional service at scale. Front streamlines customer communication by combining the efficiency of a help desk and the familiarity of email, with automated workflows and real-time collaboration behind the scenes.

    With Front, teams can centralize messages across channels, route them to the right person, and unlock visibility and insights across all of their customer operations. More than 8000 businesses use Front to drive operational efficiency that prevents churn, improves retention, and propels customer growth.
  title: Core API
  version: 1.0.0
  x-konfig-ignore:
    object-with-no-properties: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://api2.frontapp.com
security:
- http: []
tags:
- name: Knowledge Bases
- name: Conversations
- name: Tags
- name: Contacts
- name: Message Template Folders
- name: Message Templates
- name: Contact Groups
- name: Inboxes
- name: Shifts
- name: Accounts
- name: Custom Fields
- name: Channels
- name: Messages
- name: Signatures
- name: Drafts
- name: Rules
- name: Links
- name: Teammates
- name: Analytics
- name: Comments
- name: Teams
- name: Contact Handles
- name: Contact Notes
- name: Events
- name: Attachments
- name: Token Identity
paths:
  /accounts:
    get:
      description: List the accounts of the company.
      operationId: Accounts_listCompanyAccounts
      parameters:
      - description: "Max number of results per [page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 25
          maximum: 100
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
      - description: "Token to use to request the [next page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          type: string
          x-konfig-original-example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-pageToken-schema
        style: form
      - description: Field used to sort the accounts. Either `created_at` or `updated_at`.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Order by which results should be sorted
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
          x-konfig-original-example: asc
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-sortOrder-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsListCompanyAccountsResponse'
          description: Array of accounts
      summary: List Accounts
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts
      x-accepts: application/json
    post:
      description: Create a new account.
      operationId: Accounts_createNewAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsCreateNewAccountResponse'
          description: An Account
      summary: Create account
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts
      x-content-type: application/json
      x-accepts: application/json
  /accounts/custom_fields:
    get:
      description: Lists the custom fields that can be attached to an Account.
      operationId: CustomFields_listAccountCustomFields
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsListAccountCustomFieldsResponse'
          description: Array of Custom Fields
      summary: List Account's custom fields
      tags:
      - Custom Fields
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-custom_fields
      x-accepts: application/json
  /accounts/{account_id}:
    delete:
      description: Deletes an account
      operationId: Accounts_deleteAccount
      parameters:
      - description: "The Account ID. Alternatively, you can supply the account domain\
          \ or external ID as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          default: acc_123
          example: acc_123
          type: string
          x-konfig-original-example: acc_123
          x-konfig-generated-schema: konfig-generated-schema-paths--accounts-account_id-delete-parameters-0-schema
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete an account
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--accounts-account_id
      x-accepts: application/json
    get:
      description: Fetches an account
      operationId: Accounts_getAccount
      parameters:
      - description: "The Account ID. Alternatively, you can supply the account domain\
          \ or external ID as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          default: acc_123
          example: acc_123
          type: string
          x-konfig-original-example: acc_123
          x-konfig-generated-schema: konfig-generated-schema-paths--accounts-account_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsCreateNewAccountResponse'
          description: An Account
      summary: Fetch an account
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-account_id
      x-accepts: application/json
    patch:
      description: Updates an account.
      operationId: Accounts_updateAccount
      parameters:
      - description: "The Account ID. Alternatively, you can supply the account domain\
          \ or external ID as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          default: acc_123
          example: acc_123
          type: string
          x-konfig-original-example: acc_123
          x-konfig-generated-schema: konfig-generated-schema-paths--accounts-account_id-patch-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPatch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsCreateNewAccountResponse'
          description: An Account
      summary: Update account
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--accounts-account_id
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{account_id}/contacts:
    delete:
      description: Removes a list of contacts from an Account
      operationId: Accounts_removeContactFrom
      parameters:
      - description: "The Account ID. Alternatively, you can supply the account domain\
          \ or external ID as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          default: acc_123
          example: acc_123
          type: string
          x-konfig-original-example: acc_123
          x-konfig-generated-schema: konfig-generated-schema-paths--accounts-account_id-contacts-delete-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactIds'
      responses:
        "204":
          description: No content
      summary: Remove contact from Account
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--accounts-account_id-contacts
      x-content-type: application/json
      x-accepts: application/json
    get:
      description: Lists the contacts associated with an Account
      operationId: Accounts_listAccountContacts
      parameters:
      - description: "The Account ID. Alternatively, you can supply the account domain\
          \ or external ID as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          default: acc_123
          example: acc_123
          type: string
          x-konfig-original-example: acc_123
          x-konfig-generated-schema: konfig-generated-schema-paths--accounts-account_id-contacts-get-parameters-0-schema
        style: simple
      - description: "Token to use to request the [next page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          type: string
          x-konfig-original-example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-pageToken-schema
        style: form
      - description: "Max number of results per [page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 25
          maximum: 100
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
      - description: Field used to sort the contacts. Either `created_at` or `updated_at`.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Order by which results should be sorted
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
          x-konfig-original-example: asc
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-sortOrder-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsListAccountContactsResponse'
          description: Array of contacts
      summary: List account contacts
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-account_id-contacts
      x-accepts: application/json
    post:
      description: Adds a list of contacts to an Account
      operationId: Accounts_addContactsToAccount
      parameters:
      - description: "The Account ID. Alternatively, you can supply the account domain\
          \ or external ID as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          default: acc_123
          example: acc_123
          type: string
          x-konfig-original-example: acc_123
          x-konfig-generated-schema: konfig-generated-schema-paths--accounts-account_id-contacts-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactIds'
      responses:
        "204":
          description: No content
      summary: Add contact to Account
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-account_id-contacts
      x-content-type: application/json
      x-accepts: application/json
  /analytics/exports:
    post:
      description: |
        Create a new analytics export of messages or events (activities) over a specific time span.
        The export will be executed asynchronously. The response will include a link that can be used to retrieve the export status & result. Refer to the [Analytics](https://dev.frontapp.com/reference/analytics) topic for details about specific metrics.
      operationId: Analytics_createNewExport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsExportRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsCreateNewExportResponse'
          description: An analytics export.
      summary: Create a new analytics export.
      tags:
      - Analytics
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--analytics-exports
      x-content-type: application/json
      x-accepts: application/json
  /analytics/exports/{export_id}:
    get:
      description: "Fetch an analytics exports. Refer to the [Analytics](https://dev.frontapp.com/reference/analytics)\
        \ topic for details about specific metrics."
      operationId: Analytics_getExport
      parameters:
      - description: The export ID.
        explode: false
        in: path
        name: export_id
        required: true
        schema:
          default: exp_123
          example: exp_123
          type: string
          x-konfig-original-example: exp_123
          x-konfig-generated-schema: konfig-generated-schema-paths--analytics-exports-export_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsGetExportResponse'
          description: An analytics export.
      summary: Fetch an analytics export.
      tags:
      - Analytics
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--analytics-exports-export_id
      x-accepts: application/json
  /analytics/reports:
    post:
      description: |
        Create a new analytics report for a set of metrics over a specific time span. Different filters (e.g. Inbox v Tag v Teammates) will be joined with AND logic, but the IDs within a filter will be joined with OR logic (e.g. Inbox A or Inbox B, Tag A or Tag B).
        The report will be executed asynchronously. The response will include a link that can be used to retrieve the
        report status & result. Refer to the [Analytics](https://dev.frontapp.com/reference/analytics) topic for details about specific metrics.
      operationId: Analytics_createNewReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsReportRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsCreateNewReportResponse'
          description: An analytics report.
      summary: Create a new analytics report.
      tags:
      - Analytics
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--analytics-reports
      x-content-type: application/json
      x-accepts: application/json
  /analytics/reports/{report_uid}:
    get:
      description: "Fetch an analytics report. Refer to the [Analytics](https://dev.frontapp.com/reference/analytics)\
        \ topic for details about specific metrics."
      operationId: Analytics_getReport
      parameters:
      - description: The report UID.
        explode: false
        in: path
        name: report_uid
        required: true
        schema:
          default: 723ec32796f12c6f05f6b124d8ef76191a38cec990e0f65d549206c51373f1a0
          example: 723ec32796f12c6f05f6b124d8ef76191a38cec990e0f65d549206c51373f1a0
          type: string
          x-konfig-original-example: 723ec32796f12c6f05f6b124d8ef76191a38cec990e0f65d549206c51373f1a0
          x-konfig-generated-schema: konfig-generated-schema-paths--analytics-reports-report_uid-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsGetReportResponse'
          description: An analytics report.
      summary: Fetch an analytics report.
      tags:
      - Analytics
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--analytics-reports-report_uid
      x-accepts: application/json
  /channels:
    get:
      description: List the channels of the company.
      operationId: Channels_list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsListResponse'
          description: Array of Channels
      summary: List channels
      tags:
      - Channels
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--channels
      x-accepts: application/json
  /channels/{channel_id}:
    get:
      description: Fetch a channel.
      operationId: Channels_getChannel
      parameters:
      - description: "The Channel ID. Alternatively, you can supply the channel address\
          \ as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          default: cha_123
          example: cha_123
          type: string
          x-konfig-original-example: cha_123
          x-konfig-generated-schema: konfig-generated-schema-paths--channels-channel_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsGetChannelResponse'
          description: A channel
      summary: Get channel
      tags:
      - Channels
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--channels-channel_id
      x-accepts: application/json
    patch:
      description: Update a channel.
      operationId: Channels_updateChannel
      parameters:
      - description: "The Channel ID. Alternatively, you can supply the channel address\
          \ as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          default: cha_123
          example: cha_123
          type: string
          x-konfig-original-example: cha_123
          x-konfig-generated-schema: konfig-generated-schema-paths--channels-channel_id-patch-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannel'
        description: Channel details
      responses:
        "204":
          description: No content
      summary: Update Channel
      tags:
      - Channels
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--channels-channel_id
      x-content-type: application/json
      x-accepts: application/json
  /channels/{channel_id}/drafts:
    post:
      description: "Create a draft message which is the first message of a new [conversation](https://dev.frontapp.com/reference/conversations)."
      operationId: Drafts_createNewDraftMessage
      parameters:
      - description: "The channel ID. Alternatively, you can supply the channel address\
          \ as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          default: cha_123
          example: cha_123
          type: string
          x-konfig-original-example: cha_123
          x-konfig-generated-schema: konfig-generated-schema-paths--channels-channel_id-drafts-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDraft'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftsCreateNewDraftMessageResponse'
          description: A message
      summary: Create draft
      tags:
      - Drafts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--channels-channel_id-drafts
      x-content-type: application/json
      x-accepts: application/json
  /channels/{channel_id}/incoming_messages:
    post:
      description: Receive a custom message in Front. This endpoint is available for
        custom channels **ONLY**.
      operationId: Messages_receiveCustomMessage
      parameters:
      - description: "The channel ID. Alternatively, you can supply the channel address\
          \ as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          default: cha_123
          example: cha_123
          type: string
          x-konfig-original-example: cha_123
          x-konfig-generated-schema: konfig-generated-schema-paths--channels-channel_id-incoming_messages-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomMessage'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesReceiveCustomMessageResponse'
          description: An accepted message
      summary: Receive custom messages
      tags:
      - Messages
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--channels-channel_id-incoming_messages
      x-content-type: application/json
      x-accepts: application/json
  /channels/{channel_id}/messages:
    post:
      description: "Send a new message from a channel. This is one of the ways to\
        \ create a new [conversation](https://dev.frontapp.com/reference/conversations#creating-a-new-conversation).\
        \ The new conversation will support both messages and comments (discussions)."
      operationId: Messages_createNewMessage
      parameters:
      - description: "The sending channel ID. Alternatively, you can supply the sending\
          \ channel address as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          default: cha_123
          example: cha_123
          type: string
          x-konfig-original-example: cha_123
          x-konfig-generated-schema: konfig-generated-schema-paths--channels-channel_id-messages-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundMessage'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftsCreateNewDraftMessageResponse'
          description: A message
      summary: Create message
      tags:
      - Messages
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--channels-channel_id-messages
      x-content-type: application/json
      x-accepts: application/json
  /channels/{channel_id}/validate:
    post:
      description: "Asynchronously validate an SMTP channel (this endpoint is irrelevant\
        \ to other channel types). When you create an SMTP channel via the API, [create\
        \ a channel](https://dev.frontapp.com/reference/post_inboxes-inbox-id-channels)\
        \ with type smtp and the send_as set to the needed email address. You then\
        \ [configure the email provider](https://help.front.com/en/articles/2081),\
        \ after which you use this endpoint to asynchronously validate the SMTP settings."
      operationId: Channels_validateSMTPSettings
      parameters:
      - description: "The Channel ID. Alternatively, you can supply the channel address\
          \ as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          default: cha_123
          example: cha_123
          type: string
          x-konfig-original-example: cha_123
          x-konfig-generated-schema: konfig-generated-schema-paths--channels-channel_id-validate-post-parameters-0-schema
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsValidateSmtpSettingsResponse'
          description: Request accepted
      summary: Validate channel
      tags:
      - Channels
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--channels-channel_id-validate
      x-accepts: application/json
  /comments/{comment_id}:
    get:
      description: Fetches a comment.
      operationId: Comments_getComment
      parameters:
      - description: The Comment ID
        explode: false
        in: path
        name: comment_id
        required: true
        schema:
          default: com_123
          example: com_123
          type: string
          x-konfig-original-example: com_123
          x-konfig-generated-schema: konfig-generated-schema-paths--comments-comment_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsGetCommentResponse'
          description: A comment
      summary: Get comment
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--comments-comment_id
      x-accepts: application/json
  /comments/{comment_id}/mentions:
    get:
      description: List the teammates mentioned in a comment.
      operationId: Comments_listMentionedTeammates
      parameters:
      - description: The Comment ID
        explode: false
        in: path
        name: comment_id
        required: true
        schema:
          default: com_123
          example: com_123
          type: string
          x-konfig-original-example: com_123
          x-konfig-generated-schema: konfig-generated-schema-paths--comments-comment_id-mentions-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsListMentionedTeammatesResponse'
          description: Array of teammates
      summary: List comment mentions
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--comments-comment_id-mentions
      x-accepts: application/json
  /company/rules:
    get:
      description: List the company rules.
      operationId: Rules_listAllCompanyRules
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RulesListAllCompanyRulesResponse'
          description: Array of Rules
      summary: List all company rules
      tags:
      - Rules
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-rules
      x-accepts: application/json
  /company/tags:
    get:
      description: List the company tags.
      operationId: Tags_listCompany
      parameters:
      - description: "Max number of results per [page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 25
          maximum: 100
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
      - description: "Token to use to request the [next page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          type: string
          x-konfig-original-example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-pageToken-schema
        style: form
      - description: Field used to sort the tags. Only supports `id`.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Order by which results should be sorted
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
          x-konfig-original-example: asc
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-sortOrder-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsListCompanyResponse'
          description: Array of Tags
      summary: List company tags
      tags:
      - Tags
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-tags
      x-accepts: application/json
    post:
      description: Create a company tag.
      operationId: Tags_createCompanyTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTag'
        description: Tag to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
          description: A tag
      summary: Create company tag
      tags:
      - Tags
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--company-tags
      x-content-type: application/json
      x-accepts: application/json
  /contact_groups:
    get:
      description: List the contact groups.
      operationId: ContactGroups_listGroups
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGroupsListGroupsResponse'
          description: Array of contact groups
      summary: List groups
      tags:
      - Contact Groups
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--contact_groups
      x-accepts: application/json
    post:
      description: Create a new contact group in the default team (workspace).
      operationId: ContactGroups_createNewGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactGroup'
      responses:
        "204":
          description: No content
      summary: Create group
      tags:
      - Contact Groups
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--contact_groups
      x-content-type: application/json
      x-accepts: application/json
  /contact_groups/{contact_group_id}:
    delete:
      description: Delete a contact group.
      operationId: ContactGroups_deleteGroup
      parameters:
      - description: The contact group ID
        explode: false
        in: path
        name: contact_group_id
        required: true
        schema:
          default: grp_123
          example: grp_123
          type: string
          x-konfig-original-example: grp_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contact_groups-contact_group_id-delete-parameters-0-schema
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete group
      tags:
      - Contact Groups
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--contact_groups-contact_group_id
      x-accepts: application/json
  /contact_groups/{contact_group_id}/contacts:
    delete:
      description: Remove contacts from the requested group.
      operationId: ContactGroups_removeContacts
      parameters:
      - description: The contact group ID
        explode: false
        in: path
        name: contact_group_id
        required: true
        schema:
          default: grp_123
          example: grp_123
          type: string
          x-konfig-original-example: grp_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contact_groups-contact_group_id-contacts-delete-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveContactsFromGroup'
      responses:
        "204":
          description: No content
      summary: Remove contacts from group
      tags:
      - Contact Groups
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--contact_groups-contact_group_id-contacts
      x-content-type: application/json
      x-accepts: application/json
    get:
      description: List the contacts belonging to the requested group.
      operationId: ContactGroups_listGroupContacts
      parameters:
      - description: The contact group ID
        explode: false
        in: path
        name: contact_group_id
        required: true
        schema:
          default: grp_123
          example: grp_123
          type: string
          x-konfig-original-example: grp_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contact_groups-contact_group_id-contacts-get-parameters-0-schema
        style: simple
      - description: "Token to use to request the [next page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          type: string
          x-konfig-original-example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-pageToken-schema
        style: form
      - description: "Max number of results per [page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 25
          maximum: 100
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsListAccountContactsResponse'
          description: Array of contacts
      summary: List contacts in group
      tags:
      - Contact Groups
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--contact_groups-contact_group_id-contacts
      x-accepts: application/json
    post:
      description: Add contacts to the requested group.
      operationId: ContactGroups_addContactsToGroup
      parameters:
      - description: The contact group ID
        explode: false
        in: path
        name: contact_group_id
        required: true
        schema:
          default: grp_123
          example: grp_123
          type: string
          x-konfig-original-example: grp_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contact_groups-contact_group_id-contacts-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContactsToGroup'
      responses:
        "204":
          description: No content
      summary: Add contacts to group
      tags:
      - Contact Groups
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--contact_groups-contact_group_id-contacts
      x-content-type: application/json
      x-accepts: application/json
  /contacts:
    get:
      description: List the contacts of the company.
      operationId: Contacts_listCompanyContacts
      parameters:
      - description: "[Search query object](https://dev.frontapp.com/docs/query-object-q)\
          \ with the optional properties `updated_after` and `updated_before`, whose\
          \ value should be a timestamp in seconds with up to 3 decimal places."
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: "Max number of results per [page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 25
          maximum: 100
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
      - description: "Token to use to request the [next page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          type: string
          x-konfig-original-example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-pageToken-schema
        style: form
      - description: Field used to sort the contacts. Either `created_at` or `updated_at`.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Order by which results should be sorted
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
          x-konfig-original-example: asc
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-sortOrder-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsListAccountContactsResponse'
          description: Array of contacts
      summary: List contacts
      tags:
      - Contacts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--contacts
      x-accepts: application/json
    post:
      description: Create a new contact.
      operationId: Contacts_createNewContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContact'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsCreateNewContactResponse'
          description: A contact
      summary: Create contact
      tags:
      - Contacts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--contacts
      x-content-type: application/json
      x-accepts: application/json
  /contacts/custom_fields:
    get:
      description: Lists the custom fields that can be attached to a Contact.
      operationId: CustomFields_listContactFields
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsListAccountCustomFieldsResponse'
          description: Array of Custom Fields
      summary: List Contact's custom fields
      tags:
      - Custom Fields
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--contacts-custom_fields
      x-accepts: application/json
  /contacts/merge:
    post:
      description: |
        Merges the contacts specified into a single contact, deleting the merged-in contacts.
        If a target contact ID is supplied, the other contacts will be merged into that one.
        Otherwise, some contact in the contact ID list will be treated as the target contact.
        Merge conflicts will be resolved in the following ways:
          * name will prioritize manually-updated and non-private contact names
          * descriptions will be concatenated and separated by newlines in order from
            oldest to newest with the (optional) target contact's description first
          * all handles, groups, links, and notes will be preserved
          * other conflicts will use the most recently updated contact's value
      operationId: Contacts_mergeContacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeContacts'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsCreateNewContactResponse'
          description: A contact
      summary: Merge contacts
      tags:
      - Contacts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--contacts-merge
      x-content-type: application/json
      x-accepts: application/json
  /contacts/{contact_id}:
    delete:
      description: Delete a contact.
      operationId: Contacts_deleteContact
      parameters:
      - description: "The contact ID. Alternatively, you can supply the contact's\
          \ source and handle as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          default: crd_123
          example: crd_123
          type: string
          x-konfig-original-example: crd_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contacts-contact_id-delete-parameters-0-schema
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a contact
      tags:
      - Contacts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--contacts-contact_id
      x-accepts: application/json
    get:
      description: Fetch a contact.
      operationId: Contacts_getOneContact
      parameters:
      - description: "The contact ID. Alternatively, you can supply the contact's\
          \ source and handle as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          default: crd_123
          example: crd_123
          type: string
          x-konfig-original-example: crd_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contacts-contact_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsCreateNewContactResponse'
          description: A contact
      summary: Get contact
      tags:
      - Contacts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--contacts-contact_id
      x-accepts: application/json
    patch:
      description: Updates a contact.
      operationId: Contacts_updateContact
      parameters:
      - description: "The contact ID. Alternatively, you can supply the contact's\
          \ source and handle as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          default: crd_123
          example: crd_123
          type: string
          x-konfig-original-example: crd_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contacts-contact_id-patch-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        "204":
          description: No content
      summary: Update a contact
      tags:
      - Contacts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--contacts-contact_id
      x-content-type: application/json
      x-accepts: application/json
  /contacts/{contact_id}/conversations:
    get:
      description: |
        List the conversations for a contact in reverse chronological order (newest first). For more advanced filtering, see the [search endpoint](https://dev.frontapp.com/reference/conversations#search-conversations).
      operationId: Contacts_listConversationsReverseChronologicalOrder
      parameters:
      - description: "The Contact ID. Alternatively, you can supply the contact's\
          \ source and handle as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          default: crd_123
          example: crd_123
          type: string
          x-konfig-original-example: crd_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contacts-contact_id-conversations-get-parameters-0-schema
        style: simple
      - description: "[Search query object](https://dev.frontapp.com/docs/query-object-q)\
          \ with a property `statuses`, whose value should be a list of conversation\
          \ statuses (`assigned`, `unassigned`, `archived`, or `deleted`)."
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: "Max number of results per [page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 25
          maximum: 100
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
      - description: "Token to use to request the [next page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          type: string
          x-konfig-original-example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-pageToken-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsListConversationsReverseChronologicalOrderResponse'
          description: Array of conversations
      summary: List contact conversations
      tags:
      - Contacts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--contacts-contact_id-conversations
      x-accepts: application/json
  /contacts/{contact_id}/handles:
    delete:
      description: Remove a handle from a contact.
      operationId: ContactHandles_removeHandle
      parameters:
      - description: "The contact ID. Alternatively, you can supply the contact's\
          \ source and handle as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          default: crd_123
          example: crd_123
          type: string
          x-konfig-original-example: crd_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contacts-contact_id-handles-delete-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteContactHandle'
      responses:
        "204":
          description: No content
      summary: Delete contact handle
      tags:
      - Contact Handles
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--contacts-contact_id-handles
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: Adds a new handle to a contact.
      operationId: ContactHandles_addNewHandle
      parameters:
      - description: "The contact ID. Alternatively, you can supply the contact's\
          \ source and handle as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          default: crd_123
          example: crd_123
          type: string
          x-konfig-original-example: crd_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contacts-contact_id-handles-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactHandle'
      responses:
        "204":
          description: No content
      summary: Add contact handle
      tags:
      - Contact Handles
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--contacts-contact_id-handles
      x-content-type: application/json
      x-accepts: application/json
  /contacts/{contact_id}/notes:
    get:
      description: List the notes added to a contact.
      operationId: ContactNotes_list
      parameters:
      - description: "The contact ID. Alternatively, you can supply the contact's\
          \ source and handle as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          default: crd_123
          example: crd_123
          type: string
          x-konfig-original-example: crd_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contacts-contact_id-notes-get-parameters-0-schema
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNotesListResponse'
          description: Array of contact notes
      summary: List notes
      tags:
      - Contact Notes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--contacts-contact_id-notes
      x-accepts: application/json
    post:
      description: Create a new note on a contact.
      operationId: ContactNotes_createNewNote
      parameters:
      - description: "The contact ID. Alternatively, you can supply the contact's\
          \ source and handle as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1)."
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          default: crd_123
          example: crd_123
          type: string
          x-konfig-original-example: crd_123
          x-konfig-generated-schema: konfig-generated-schema-paths--contacts-contact_id-notes-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactNote'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNoteResponses'
          description: A contact note
      summary: Add note
      tags:
      - Contact Notes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--contacts-contact_id-notes
      x-content-type: application/json
      x-accepts: application/json
  /conversations:
    get:
      description: |
        List the conversations in the company in reverse chronological order (most recently updated first). The order will respect your company's [bump settings](https://help.front.com/t/y729th/customize-when-conversations-bump-up), which determine when conversations bump to the top. For more advanced filtering, see the [search endpoint](https://dev.frontapp.com/reference/conversations#search-conversations).
      operationId: Conversations_listInReverseChronologicalOrder
      parameters:
      - description: "[Search query object](https://dev.frontapp.com/docs/query-object-q)\
          \ with a property `statuses`, whose value should be a list of conversation\
          \ statuses (`assigned`, `unassigned`, `archived`, or `deleted`)."
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: "Max number of results per [page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 25
          maximum: 100
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
      - description: "Token to use to request the [next page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          type: string
          x-konfig-original-example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-pageToken-schema
        style: form
      - description: Field used to sort the conversations. Only supports `date`.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Order by which results should be sorted
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
          x-konfig-original-example: asc
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-sortOrder-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsListConversationsReverseChronologicalOrderResponse'
          description: Array of conversations
      summary: List conversations
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--conversations
      x-accepts: application/json
    post:
      description: "Create a new [conversation](https://dev.frontapp.com/reference/conversations#creating-a-new-conversation)\
        \ that only supports comments (known as discussions in Front). If you want\
        \ to create a conversation that supports messages, use the [Create message](https://dev.frontapp.com/reference/post_channels-channel-id-messages)\
        \ endpoint. If you want to add a comment to an existing conversation, use\
        \ the [Add comment](https://dev.frontapp.com/reference/post_conversations-conversation-id-comments)\
        \ endpoint."
      operationId: Conversations_createDiscussion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversation'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationsCreateDiscussionResponse'
          description: A conversation
      summary: Create discussion conversation
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--conversations
      x-content-type: application/json
      x-accepts: application/json
  /conversations/custom_fields:
    get:
      description: Lists the custom fields that can be attached to a Conversation.
      operationId: CustomFields_listConversationCustomFields
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsListAccountCustomFieldsResponse'
          description: Array of Custom Fields
      summary: List Conversation's custom fields
      tags:
      - Custom Fields
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--conversations-custom_fields
      x-accepts: application/json
  /conversations/search/{query}:
    get:
      description: |
        Search for conversations. Response will include a count of total matches and an array of conversations in descending order by last activity.
        See the [search syntax documentation](https://dev.frontapp.com/docs/search-1) for usage examples.
        **Note:** This endpoint is subject to [proportional rate limiting](https://dev.frontapp.com/docs/rate-limiting#additional-proportional-limiting) at 40% of your company's rate limit.
      operationId: Conversations_searchByQuery
      parameters:
      - description: "Search query string. See [Search](https://dev.frontapp.com/docs/search-1)\
          \ topic for usage details."
        explode: false
        in: path
        name: query
        required: true
        schema:
          default: inbox:inb_123 tag:tag_345
          example: inbox:inb_123 tag:tag_345
          type: string
          x-konfig-original-example: inbox:inb_123 tag:tag_345
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-search-query-get-parameters-0-schema
        style: simple
      - description: "Max number of results per [page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 25
          maximum: 100
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
      - description: "Token to use to request the [next page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          type: string
          x-konfig-original-example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-pageToken-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationsSearchByQueryResponse'
          description: Array of conversation search results
      summary: Search conversations
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--conversations-search-query
      x-accepts: application/json
  /conversations/{conversation_id}:
    get:
      description: |
        Fetch a conversation.
      operationId: Conversations_getById
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationsCreateDiscussionResponse'
          description: A conversation
      summary: Get conversation
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--conversations-conversation_id
      x-accepts: application/json
    patch:
      description: Update a conversation.
      operationId: Conversations_updateConversationById
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-patch-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConversation'
      responses:
        "204":
          description: No content
        "400":
          description: "Invalid input, such as invalid custom fields"
      summary: Update conversation
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--conversations-conversation_id
      x-content-type: application/json
      x-accepts: application/json
  /conversations/{conversation_id}/assignee:
    put:
      description: Assign or unassign a conversation.
      operationId: Conversations_updateAssignee
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-assignee-put-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConversationAssignee'
      responses:
        "204":
          description: No content
      summary: Update conversation assignee
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--conversations-conversation_id-assignee
      x-content-type: application/json
      x-accepts: application/json
  /conversations/{conversation_id}/comments:
    get:
      description: List the comments in a conversation in reverse chronological order
        (newest first).
      operationId: Comments_listConversationComments
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-comments-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsListConversationCommentsResponse'
          description: Array of Comments
      summary: List conversation comments
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--conversations-conversation_id-comments
      x-accepts: application/json
    post:
      description: "Add a comment to a [conversation](https://dev.frontapp.com/reference/conversations).\
        \ If you want to create a new comment-only conversation, use the [Create discussion\
        \ conversation](https://dev.frontapp.com/reference/create-conversation) endpoint."
      operationId: Comments_addNewComment
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-comments-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComment'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsGetCommentResponse'
          description: A comment
      summary: Add comment
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--conversations-conversation_id-comments
      x-content-type: application/json
      x-accepts: application/json
  /conversations/{conversation_id}/drafts:
    get:
      description: List the drafts in a conversation.
      operationId: Drafts_listConversationDrafts
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-drafts-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftsListConversationDraftsResponse'
          description: Array of messages
      summary: List conversation drafts
      tags:
      - Drafts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--conversations-conversation_id-drafts
      x-accepts: application/json
    post:
      description: Create a new draft as a reply to the last message in the conversation.
      operationId: Drafts_createDraftReply
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-drafts-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyDraft'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftsCreateNewDraftMessageResponse'
          description: A message
      summary: Create draft reply
      tags:
      - Drafts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--conversations-conversation_id-drafts
      x-content-type: application/json
      x-accepts: application/json
  /conversations/{conversation_id}/events:
    get:
      description: "List the events that occured for a conversation in reverse chronological\
        \ order (newest first). The order will respect your company's [bump settings](https://help.front.com/t/y729th/customize-when-conversations-bump-up),\
        \ which determine when conversations bump to the top."
      operationId: Conversations_listEvents
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-events-get-parameters-0-schema
        style: simple
      - description: "Max number of results per [page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 25
          maximum: 100
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
      - description: "Token to use to request the [next page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          type: string
          x-konfig-original-example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-pageToken-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationsListEventsResponse'
          description: Array of events
      summary: List conversation events
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--conversations-conversation_id-events
      x-accepts: application/json
  /conversations/{conversation_id}/followers:
    delete:
      description: Removes teammates from the list of followers of a conversation.
      operationId: Conversations_removeFollowers
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-followers-delete-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationsRemoveFollowersRequest'
      responses:
        "204":
          description: No content
      summary: Delete conversation followers
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--conversations-conversation_id-followers
      x-content-type: application/json
      x-accepts: application/json
    get:
      description: List the teammates following a conversation.
      operationId: Conversations_listFollowers
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-followers-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsListMentionedTeammatesResponse'
          description: Array of teammates
      summary: List conversation followers
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--conversations-conversation_id-followers
      x-accepts: application/json
    post:
      description: Adds teammates to the list of followers of a conversation.
      operationId: Conversations_addFollowers
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-followers-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationsAddFollowersRequest'
      responses:
        "204":
          description: No content
      summary: Add conversation followers
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--conversations-conversation_id-followers
      x-content-type: application/json
      x-accepts: application/json
  /conversations/{conversation_id}/inboxes:
    get:
      description: List the inboxes in which a conversation is listed.
      operationId: Conversations_listInboxes
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-inboxes-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationsListInboxesResponse'
          description: Array of Inboxes
      summary: List conversation inboxes
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--conversations-conversation_id-inboxes
      x-accepts: application/json
  /conversations/{conversation_id}/links:
    delete:
      description: Removes one or more links to a conversation
      operationId: Conversations_removeLinks
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-links-delete-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationsRemoveLinksRequest'
      responses:
        "204":
          description: No content
      summary: Remove conversation links
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--conversations-conversation_id-links
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: Adds one or more links to a conversation
      operationId: Conversations_addLink
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-links-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationsAddLinkRequest'
      responses:
        "204":
          description: No content
      summary: Add conversation link
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--conversations-conversation_id-links
      x-content-type: application/json
      x-accepts: application/json
  /conversations/{conversation_id}/messages:
    get:
      description: List the messages in a conversation in reverse chronological order
        (newest first).
      operationId: Conversations_listMessagesInReverseChronologicalOrder
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-messages-get-parameters-0-schema
        style: simple
      - description: "Max number of results per [page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 25
          maximum: 100
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
      - description: "Token to use to request the [next page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          type: string
          x-konfig-original-example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-pageToken-schema
        style: form
      - description: Field used to sort the messages. Only supports `created_at`.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Order by which results should be sorted
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
          x-konfig-original-example: asc
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-sortOrder-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftsListConversationDraftsResponse'
          description: Array of messages
      summary: List conversation messages
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--conversations-conversation_id-messages
      x-accepts: application/json
    post:
      description: Reply to a conversation by sending a message and appending it to
        the conversation.
      operationId: Messages_createMessageReply
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-messages-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundReplyMessage'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftsCreateNewDraftMessageResponse'
          description: A message
      summary: Create message reply
      tags:
      - Messages
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--conversations-conversation_id-messages
      x-content-type: application/json
      x-accepts: application/json
  /conversations/{conversation_id}/reminders:
    patch:
      description: |
        Snooze or unsnooze a conversation for the provided user.
        For private conversations, reminders can only be created and edited through the API for teammates that own the conversation.
        For shared conversations, reminders created and edited through the API are shared for all teammates within the shared inbox(es) that the conversation belongs to.
      operationId: Conversations_updateReminders
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-reminders-patch-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConversationReminders'
      responses:
        "204":
          description: No content
      summary: Update conversation reminders
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--conversations-conversation_id-reminders
      x-content-type: application/json
      x-accepts: application/json
  /conversations/{conversation_id}/tags:
    delete:
      description: Removes one or more tags to a conversation
      operationId: Conversations_removeTag
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-tags-delete-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagIds'
        description: Tag IDs to remove
      responses:
        "204":
          description: No content
      summary: Remove conversation tag
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--conversations-conversation_id-tags
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: Adds one or more tags to a conversation
      operationId: Conversations_addTagsToConversation
      parameters:
      - description: The conversation ID
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          default: cnv_123
          example: cnv_123
          type: string
          x-konfig-original-example: cnv_123
          x-konfig-generated-schema: konfig-generated-schema-paths--conversations-conversation_id-tags-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagIds'
        description: Tag IDs to add
      responses:
        "204":
          description: No content
      summary: Add conversation tag
      tags:
      - Conversations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--conversations-conversation_id-tags
      x-content-type: application/json
      x-accepts: application/json
  /custom_fields:
    get:
      deprecated: true
      description: |
        Lists the custom fields that can be attached to a Contact.

        > ⚠️ Deprecated endpoint
        >
        > This endpoint has been deprecated. Please use the fully compatible `GET /contacts/custom_fields` endpoint instead.
      operationId: CustomFields_listContactCustomFields
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsListAccountCustomFieldsResponse'
          description: Array of Custom Fields
      summary: List Contact's custom fields
      tags:
      - Custom Fields
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--custom_fields
      x-accepts: application/json
  /download/{attachment_link_id}:
    get:
      description: Download an attachment file.
      operationId: Attachments_downloadAttachmentFile
      parameters:
      - description: The Attachment ID
        explode: false
        in: path
        name: attachment_link_id
        required: true
        schema:
          default: fil_55c8c149
          example: fil_55c8c149
          type: string
          x-konfig-original-example: fil_55c8c149
          x-konfig-generated-schema: konfig-generated-schema-paths--download-attachment_link_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentsDownloadAttachmentFileResponse'
          description: An attachment
      summary: Download attachment
      tags:
      - Attachments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--download-attachment_link_id
      x-accepts: application/json
  /drafts/{draft_id}:
    delete:
      description: Delete a draft message.
      operationId: Drafts_deleteDraftMessage
      parameters:
      - description: The draft ID
        explode: false
        in: path
        name: draft_id
        required: true
        schema:
          default: msg_123
          example: msg_123
          type: string
          x-konfig-original-example: msg_123
          x-konfig-generated-schema: konfig-generated-schema-paths--drafts-draft_id-delete-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDraft'
      responses:
        "204":
          description: No content
      summary: Delete draft
      tags:
      - Drafts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--drafts-draft_id
      x-content-type: application/json
      x-accepts: application/json
  /events:
    get:
      description: |
        Lists all the detailed events which occured in the inboxes of the company ordered in reverse chronological order (newest first).
        Refer to the [Events](https://dev.frontapp.com/reference/events) topic for more information, including sorting and filtering.
      operationId: Events_listDetailedInboxEvents
      parameters:
      - description: "[Search query object](https://dev.frontapp.com/docs/query-object-q)\
          \ with optional properties `before`, `after`, or `types`. `before` and `after`\
          \ should be a timestamp in seconds with up to 3 decimal places. `types`\
          \ should be a list of [event types](https://dev.frontapp.com/reference/events)."
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Max number of results per page (max 15)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 15
          example: 15
          type: integer
          x-konfig-original-example: 15
          x-konfig-generated-schema: konfig-generated-schema-paths--events-get-parameters-1-schema
        style: form
      - description: "Token to use to request the [next page](https://dev.frontapp.com/docs/pagination)"
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          type: string
          x-konfig-original-example: https://yourCompany.api.frontapp.com/endpoint?limit=25&page_token=92f32bcd7625333caf4e0f8fc26d920c812f
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-pageToken-schema
        style: form
      - description: Field used to sort the events. Only supports `created_at`.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Order by which results should be sorted
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
          x-konfig-original-example: asc
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-sortOrder-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationsListEventsResponse'
          description: Array of events
      summary: List events
      tags:
      - Events
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--events
      x-accepts: application/json
  /events/{event_id}:
    get:
      description: |
        Fetch an event.
        Refer to the [Events](https://dev.frontapp.com/reference/events) topic for more information, including sorting and filtering.
      operationId: Events_getEvent
      parameters:
      - description: The event ID
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          default: evt_55c8c149
          example: evt_55c8c149
          type: string
          x-konfig-original-example: evt_55c8c149
          x-konfig-generated-schema: konfig-generated-schema-paths--events-event_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
          description: An event
      summary: Get event
      tags:
      - Events
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--events-event_id
      x-accepts: application/json
  /inboxes:
    get:
      description: List the inboxes of the company.
      operationId: Inboxes_listInboxes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationsListInboxesResponse'
          description: Array of Inboxes
      summary: List inboxes
      tags:
      - Inboxes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--inboxes
      x-accepts: application/json
    post:
      description: Create an inbox in the default team (workspace). The default team
        will be the oldest team created that still exists at the time of the request.
      operationId: Inboxes_createDefaultTeamInbox
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInbox'
        description: Inbox details
      responses:
        "204":
          description: No content
      summary: Create inbox
      tags:
      - Inboxes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--inboxes
      x-content-type: application/json
      x-accepts: application/json
  /inboxes/custom_fields:
    get:
      description: Lists the custom fields that can be attached to an Inbox.
      operationId: CustomFields_listInboxCustomFields
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsListAccountCustomFieldsResponse'
          description: Array of Custom Fields
      summary: List Inbox's custom fields
      tags:
      - Custom Fields
      x-konfig-operation-can-have-single-parameter: true
[...]
